@@include('../components/_header-page.html')

<!-- <div class="frame"> -->
    <div class="holder">
        <div class="slider">
            <div class="slide is-1 js_slide active" data-anim-immediately></div>
            <div class="slide is-2 js_slide"></div>
            <div class="slide is-3 js_slide"></div>
            <div class="slide is-4 js_slide"></div>
            <div class="slide is-5 js_slide"></div>
        </div>

        <div class="decor is-top"></div>
        <div class="decor is-bottom"></div>
    </div>
<!-- </div> -->

@@include('../components/_footer-page.html')
