@@include('../components/_header-page.html')

<!-- <div class="frame"> -->
    <div class="holder">
        <button class="toggler js_slideToggler" 
                data-dir="prev" 
                type="button">
            Previous
        </button>
        <button class="toggler js_slideToggler" 
                data-dir="next" 
                type="button">
            Next
        </button>

        <div class="discount" aria-label="10% Online-Rabat"></div>

        <div class="slide js_slide animShow-next" data-anim-immediately aria-label="Ganz in weiß!? eine Hoichzeit mit Hindernissen">
            <div class="logo"></div>
            <div class="title center-x"></div>
            <div class="card center-x"></div>
        </div>

        <div class="slide js_slide" aria-label="Waschtag eine Nachbarschaft im Schleudergang">
            <div class="logo"></div>
            <div class="title is-2 center-x"></div>
            <div class="card is-2 center-x"></div>
        </div>

        <div class="slide js_slide" style="background: #5C000B;" aria-label="Ganz in weiß!? eine Hoichzeit mit Hindernissen">
            <div class="logo is-3"></div>
            <div class="title is-3 center-x"></div>
            <div class="card is-3 center-x"></div>
        </div>

        <div class="slide js_slide" aria-label="Lach dich glucklich">
            <div class="logo"></div>
            <div class="title is-4 center-x"></div>
            <div class="card is-4 center-x"></div>
        </div>

        <div class="cta" aria-label="Tickets sichern"></div>
    </div>
<!-- </div> -->
@@include('../components/_footer-page.html')
