@font-face {
    font-family: 'CodecPro';
    src: url('../../fonts/CodecPro-Regular.woff2') format('woff2'),
        url('../../fonts/CodecPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../fonts/CodecPro-Bold.woff2') format('woff2'),
        url('../../fonts/CodecPro-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}