.logo {
    top: calc(51 / #{$holder-height} * 100%);
    right: calc(16 / #{$holder-width} * 100%);
    width: 100%;
    max-width: 112px;
    height: auto;

    @media(min-width: $size-s) {
        right: calc(27 / #{$holder-width} * 100%);
        max-width: 145px;
    }

    @media(min-width: $size-l) {
        top: calc(47 / #{$holder-height} * 100%);
        right: calc(57 / #{$holder-width} * 100%);
        max-width: 182px;
    }
}