.logo {
    top: calc(21 / #{$holder-height} * 100%);
    left: calc(49 / #{$holder-width} * 100%);
    width: calc(380 / #{$holder-width} * 100%);
    height: calc(158 / #{$holder-height} * 100%);
    background: no-repeat top left /contain;
    @include bgImage('logo', 'png');

    &.is-3 {
        top: calc(23 / #{$holder-height} * 100%);
        width: calc(371.5 / #{$holder-width} * 100%);
        height: calc(151 / #{$holder-height} * 100%);
        @include bgImage('logo3', 'png');
    }
}