.toggler {
    top: calc(532 / #{$holder-height} * 100%);
    padding: 0;
    width: calc(19 / #{$holder-width} * 100%);
    height: calc(33 / #{$holder-height} * 100%);
    border: 0;
    text-indent: -9999px;
    color: transparent;
    box-shadow: none;
    background: none;
    cursor: pointer;
    z-index: 3;

    &:hover {
        
        @media #{$hover-mouse} {
            transform: scale(1.3);
        }
    }

    &:active {

        @media #{$hover-touch} {
            transform: scale(0.8);
        }

        @media #{$hover-mouse} {
            transform: scale(1.1);
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../img/toggler.svg) no-repeat center /contain;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 175%;
        height: 100%;
        transform: scale(2);
        border-radius: 50%;
    }

    &[data-dir=prev]{
        left: calc(30 / #{$holder-width} * 100%);

        &:after {
            left: -25%;
        }
    }

    &[data-dir=next] {
        right: calc(30 / #{$holder-width} * 100%);

        &:before {
            transform: scaleX(-1);
        }

        &:after {
            right: -30%;
        }
    }
}