//hover media:
$hover-mouse: '(hover: hover) and (pointer: fine)';
$hover-touch: '(hover: none) and (pointer: coarse)';

//banner design size:
$holder-width: 1920;
$holder-height: 970;

//grid-variable:
$size-xs: 1300px;
$size-s: 1460px;
$size-l: 1920px;