.slider {
    top: 0;
    right: 0;
    height: calc(283 / #{$holder-height} * 100%);
    width: calc(344 / #{$holder-width} * 100%);
    background: url(../../img/slider-bg.svg) no-repeat top right /contain;
    overflow: hidden;

    @media(min-width: $size-s) {
        height: calc(362 / #{$holder-height} * 100%);
        width: calc(455 / #{$holder-width} * 100%);
    }

    @media(min-width: $size-l) {
        width: calc(558 / #{$holder-width} * 100%);
        height: calc(406 / #{$holder-height} * 100%);
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat top right /contain;
    transition: 0.4s linear;
    opacity: 0;

    @for $i from 1 through 5 {
        &.is-#{$i} {
            @include bgImage('slide#{$i}', 'png');
        }
    }

    &.active {
        opacity: 1;
    }
}