//hover media:
$hover-mouse: '(hover: hover) and (pointer: fine)';
$hover-touch: '(hover: none) and (pointer: coarse)';

//banner design size:
$holder-width: 480;
$holder-height: 971;

//grid-variable:
$size-s: 250px;
$size-l: 480px;